@import 'tailwindcss';

@theme {
    --color-light-brown: #d4c8b4;
    --color-black-100: #131013;
    --color-black-200: #171307;
    --color-light-gray: rgb(76, 74, 68);
    --color-cream: rgb(208, 202, 190);
}
